.row {
	height: 60px;
	width: 50%;
	
}

.label {
	float:left;
	width: 30%;
	font-size: 25px;
}

.input-container {
	float:left;
	width:12%;
	height: 30px;
}

.p {
	clear: both;
	padding-top:1em;
	margin-top: 100px;
	margin-left: 100px;
}

input {
	height: 23px;
}

.errorAlign {
	float: left;
	width: 25%;
	margin-left: 170px;
	margin-top:-6.5px; 
}

.error {
	font-size: 12px;
	color: red;
}

.alignment {

	margin-left:466px; 
	margin-top: 133px;
}